.sticker-container-info {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;

    position: relative;


    border-radius: 6px;
    padding: 0.5rem;
    box-sizing: border-box;
    /* box-shadow: 0 -3px 5px 0 rgba(227, 203, 210, 0.05), 0 5px 8px 0 rgba(205, 179, 187, 0.1); */

}




.sticker-main-prevue {
    height: calc(5rem + 5vw);
    width: calc(5rem + 5vw);
    min-height: calc(5rem + 5vw);
    min-width: calc(5rem + 5vw);
    overflow: hidden;
    background-color: rgb(139, 139, 139);
    box-sizing: border-box;
    border-radius: 0.4rem;
    /* width: auto; */
}

.sticker-main-prevue img {
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.butt-interact-container {
    position: absolute;
    top: 0%;
    right: 0%;



    --width: calc(1em + 1vw);
    height: var(--width);
    max-width: var(--width);
    max-height: var(--width);
}


.butt-interact-container img {
    width: 100%;
    height: 100%;

    /* background-color: red; */
}

.butt-interact-container img:hover {
    cursor: pointer;
    scale: 110%;
}




.button-download{
    width: 100%;
    max-width: 100%;
}